langgraph~=0.2.19
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community~=0.2.16
langchain-core~=0.2.39
langchain-openai~=0.1.23
notebook
tavily-python
wikipedia
typing_extensions~=4.12.2
pydantic~=2.9.1
python-dotenv